@model OrderConfirmationVM
    <!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Order Confirmation</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Order Confirmation</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!--================Order Details Area =================-->
<section class="order_details section-margin--small">
    <div class="container">
        <p class="text-center billing-alert">Thank you. Your order has been received.</p>
        <div class="row mb-5">
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Order Info</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Order number</td>
                            <td>: @Model.OrderHeader.Id</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>: @Model.OrderHeader.OrderDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>: @Model.OrderHeader.OrderTotal.ToString("c")</td>
                        </tr>
                        <tr>
                            <td>Payment method</td>
                            <td>: Check payments</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Billing Address</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Street</td>
                            <td>: @Model.OrderHeader.StreetAddress</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>: @Model.OrderHeader.City</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>: @Model.OrderHeader.State</td>
                        </tr>
                        <tr>
                            <td>Postcode</td>
                            <td>: @Model.OrderHeader.PostalCode</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Shipping Address</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Street</td>
                            <td>: @Model.OrderHeader.StreetAddress</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>: @Model.OrderHeader.City</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>: @Model.OrderHeader.State</td>
                        </tr>
                        <tr>
                            <td>Postcode</td>
                            <td>: @Model.OrderHeader.PostalCode</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr>
                                <td>
                                    <p>@item.Product.Name</p>
                                </td>
                                <td>
                                    <h5>x @item.Quantity</h5>
                                </td>
                                <td>
                                    <p>@((item.Quantity * item.Price).ToString("c"))</p>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <h4>Subtotal</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>@Model.OrderHeader.OrderTotal.ToString("c")</p>
                            </td>
                        </tr>
                        <!--<tr>
                            <td>
                                <h4>Shipping</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>Flat rate: $50.00</p>
                            </td>
                        </tr>-->
                        <tr>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h4>@Model.OrderHeader.OrderTotal.ToString("c")</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->